---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-borgified/builds/68/jobs/ea3a25bc-5512-49f4-b9fe-3a37a407cedd/log
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - read_builds
      x-oauth-scopes:
      - read_user,read_organizations,read_pipelines,write_pipelines,read_builds,write_builds,read_build_logs,read_agents,write_agents
    body:
      encoding: UTF-8
      string: |
        {
          "url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-borgified/builds/68/jobs/ea3a25bc-5512-49f4-b9fe-3a37a407cedd/log",
          "content": "This is the job's log output",
          "size": 28
        }
  recorded_at: Thu, 23 Apr 2015 17:40:15 GMT
recorded_with: VCR 2.9.3
