<div class="row">
    <div class="large-4 columns">
        <%= link_to :controller => "assignments", :action => "index" do %>
            <div class="bg-complete-profile">
                <span class="bg-green fontello-wallet"></span>
                <h6 class="bg-black text-white">
                    <strong>Manage Assignments</strong>
                </h6>
            </div>
        <% end %>
    </div>
    <div class="large-4 columns">
        <%= link_to :controller => "courses", :action => "index" do %>
            <div class="bg-complete-profile">
                <span class="bg-green fontello-wallet"></span>
                <h6 class="bg-black text-white">
                    <strong>Manage Courses</strong>
                </h6>
            </div>
        <% end %>
    </div>
    <div class="large-4 columns">
        <%= link_to :controller => "users", :action => "index" do %>
            <div class="bg-complete-profile">
                <span class="bg-green fontello-wallet"></span>
                <h6 class="bg-black text-white">
                    <strong>Manage Students</strong>
                </h6>
            </div>
        <% end %>
    </div>
</div>
<!-- Widget  -->
<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">

                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fontello-doc-1"></i>
                    <span>ASSIGNMENTS DUE SOON</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="school-timetable">
                    <hr>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <span class="box-btn" data-widget="edit"><i class="fontello-pencil"></i>
                        </span>
                        <span class="box-btn" data-widget="delete"><i class="fontello-trash-2"></i>
                        </span>
                    </div>
                    <h5><a href="assignment-details.html"><strong>Assignment 1: Prime numbers</strong></a></h5>
                    <h6><i class=" fontello-flow-split"></i> <a class="text-gray" href="#">assignment_1</a></h6>
                    <h6><i class=" fontello-tag"></i><span class="bg-green">CICS 506</span></h6>
                    <h6><i class=" fontello-clock"></i> Mon, October 21st<span class="bg-black">10.00 PM</span></h6>

                    <hr>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <span class="box-btn" data-widget="edit"><i class="fontello-pencil"></i>
                        </span>
                        <span class="box-btn" data-widget="delete"><i class="fontello-trash-2"></i>
                        </span>
                    </div>
                    <h5><a href="assignment-details.html"><strong>Assignment 8: Find shortest path</a></h5>
                    <h6><i class=" fontello-flow-split"></i> <a class="text-gray" href="#">assignment_8</a></h6>
                    <h6><i class=" fontello-tag"></i><span class="bg-green">EECE 514</span></h6>
                    <h6><i class=" fontello-clock"></i> Fri, November 1st<span class="bg-black">10.00 PM</span></h6>
                    <h6></h6>
                    <hr>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- End of Widget  -->
