<!-- Container Begin -->
<div class="row">
  <div class="large-12 columns">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body " style="display: block;">
        <div class="school-timetable">
          <!-- tools box -->
          <div class="pull-right box-tools">
            <span class="box-btn" >
              <%= link_to :back do %>
                <i class="fontello-reply" title="back"></i>
              <% end %>
            </span>
          </div>
          <h5>
            <i class="fontello-paper-plane"></i><strong>New Submission</strong>
          </h5>
        </div>
      </div>
      <!-- end .timeline -->
    </div>
    <!-- box -->
  </div>
</div>
<!-- End of Container Begin -->


