<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the course <%= @invite.course.name %>!</h1>
    <p>
      You have been added as <%= indefinite_articlerize(@invite.user_role) %> to the course <%= link_to @invite.course.name, course_url(@invite.course) %>.
    </p>
    <p>
      Thanks,<br/>Team Easy Hand-in
    </p>
  </body>
</html>
