/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dripicon
 *= require typicons
 *= require font-awesome
 */
@import "foundation_and_overrides";
@import "dashboard";
@import "style";
@import "topbar";
@import "theme";

table.fixed-ellipsis {
  width: 100%;
  table-layout: fixed !important;
}

.ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: block;
}

.reveal-modal pre {
  overflow-wrap: break-word !important;
}

.top-right {
  position: absolute;
  top:20px;
  right: 20px;
}

.menu_items{
  width: 100px !important;
}

.spacer{
  margin-right: 10px;
}

#selectAll {
  margin: 0px;
  vertical-align: bottom;
}

.selectAll {
  margin: 5px !important;
  vertical-align: middle;
}

.chosen-container-multi{
  width: 100% !important;
}